@font-face {
  font-family: 'fa-brands-400';
  src: url(../fonts/fa-brands-400.ttf);
}

@font-face {
  font-family: 'fa-solid-900';
  src: url(../fonts/fa-solid-900.ttf);
}

@font-face {
  font-family: 'Lato-Regular';
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato-Bold';
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf);
}

body {
  color: #5a5a5a;
  font-family: 'Lato-Regular';
  font-size: 14px;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}

.header {
  background: url(../img/header/bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  position: relative;
}

.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)), color-stop(35%, rgba(0, 0, 0, 0.66)), color-stop(62%, rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
}

.header .overlay .top-menu {
  position: fixed;
  padding: 20px 0;
  width: 100%;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 9997;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .overlay .top-menu.active {
  background: #222222;
}

.header .overlay .top-menu .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
  margin: auto;
}

.header .overlay .top-menu .header-nav .logo h2 {
  text-transform: uppercase;
  font-family: 'Lato-Bold';
  font-size: 22px;
}

.header .overlay .top-menu .header-nav .logo h2 a {
  color: #ffffff;
}

.header .overlay .top-menu .header-nav .header-menu .burger {
  display: none;
}

.header .overlay .top-menu .header-nav .header-menu .menu a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  margin-left: 30px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .overlay .top-menu .header-nav .header-menu .menu a.active {
  color: #FCAC45;
}

.header .overlay .top-menu .header-nav .header-menu .menu a:first-of-type {
  margin-left: 0;
}

.header .overlay .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
}

.header .overlay .header-title h3 {
  text-transform: uppercase;
  font-size: 36px;
  font-family: 'OpenSans-Semibold';
  color: #cfcfcf;
}

.header .overlay .header-title h3 span {
  color: #FCAC45;
}

.header .overlay .header-title p {
  margin-top: 10px;
  color: #e3e3e3;
  font-size: 21px;
  font-family: 'OpenSans-Light';
}

.header .overlay .header-title .header-anchor {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5px;
}

.header .overlay .header-title .header-anchor a .fas {
  font-family: 'fa-solid-900';
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  color: #ffffff;
  border: 2px solid #b4b4b4;
  border-radius: 50%;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .overlay .header-title .header-anchor a .fas:hover {
  background: #FCAC45;
  border-color: #FCAC45;
}

.about {
  padding: 80px 0;
}

.about .about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-wrap .block {
  max-width: 585px;
}

.about .about-wrap .block .title h5 {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'OpenSans-Semibold';
}

.about .about-wrap .block .title h4 {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'OpenSans-Light';
  position: relative;
  padding-bottom: 20px;
  font-weight: lighter;
}

.about .about-wrap .block .title h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #fcac45;
}

.about .about-wrap .block .title h4 strong {
  font-family: 'OpenSans-Semibold';
}

.about .about-wrap .block .title p {
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'OpenSans-Regular';
}

.about .about-wrap .block .content {
  margin-top: 30px;
}

.about .about-wrap .block .content p {
  font-size: 16px;
  line-height: 30px;
  font-family: 'OpenSans-Regular';
  position: relative;
  padding-left: 25px;
}

.about .about-wrap .block .content p::before {
  content: '';
  position: absolute;
  left: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #5a5a5a;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about .about-wrap .block .content p::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #5a5a5a;
  left: calc((13px/2) - (5px/2));
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about .about-wrap .block .content p span {
  font-style: italic;
}

.team {
  background: url(../img/team/bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  height: 635px;
}

.team .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)), color-stop(35%, rgba(0, 0, 0, 0.66)), color-stop(62%, rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
  padding: 80px 0;
}

.team .overlay .title {
  text-align: center;
}

.team .overlay .title h5 {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'OpenSans-Light';
  color: #ffffff;
  position: relative;
  font-weight: lighter;
}

.team .overlay .title h5 strong {
  font-family: 'OpenSans-Semibold';
}

.team .overlay .title h5::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -20px;
  width: 60px;
  height: 4px;
  background: #fcac45;
}

.team .overlay .title h5::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -34px;
  width: 40px;
  height: 4px;
  background: rgba(252, 172, 69, 0.34);
}

.team .overlay .team-slider {
  margin-top: 75px;
}

.team .overlay .team-slider .slick-list {
  overflow: hidden;
}

.team .overlay .team-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team .overlay .team-slider .slick-list .slick-track .team-slider-block {
  padding: 4px;
  margin: 0 10px;
  text-align: center;
}

.team .overlay .team-slider .slick-list .slick-track .team-slider-block:hover .img img {
  border-color: #fcac45;
}

.team .overlay .team-slider .slick-list .slick-track .team-slider-block .img {
  width: 120px;
  height: 120px;
  margin: auto;
}

.team .overlay .team-slider .slick-list .slick-track .team-slider-block .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid transparent;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.team .overlay .team-slider .slick-list .slick-track .team-slider-block .content {
  margin-top: 20px;
  padding: 10px;
  color: #f2f2f2;
}

.team .overlay .team-slider .slick-list .slick-track .team-slider-block .content h5 {
  font-size: 18px;
  font-family: 'OpenSans-Semibold';
}

.team .overlay .team-slider .slick-list .slick-track .team-slider-block .content h6 {
  margin-top: 10px;
  font-family: 'OpenSans-Regular';
  font-size: 14px;
}

.team .overlay .team-slider .slick-list .slick-track .team-slider-block .content p {
  margin-top: 10px;
  line-height: 1.42;
  font-family: 'OpenSans-Regular';
}

.team .overlay .team-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.team .overlay .team-slider .slick-dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background: #ffffff;
  margin: 0 5px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  cursor: pointer;
}

.team .overlay .team-slider .slick-dots li:hover {
  background: #fcac45;
}

.team .overlay .team-slider .slick-dots li button {
  font-size: 0;
}

.team .overlay .team-slider .slick-dots .slick-active {
  background: #fcac45;
}

@media screen and (max-width: 1200px) {
  .header .overlay .top-menu .header-nav {
    width: 95%;
  }
}

@media screen and (max-width: 1180px) {
  .container {
    max-width: 95%;
  }
  .about .about-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-wrap .block {
    margin: auto;
  }
  .about .about-wrap .right {
    margin-top: 100px;
  }
}

@media screen and (max-width: 800px) {
  .header .overlay .top-menu .header-nav .header-menu .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 9999;
  }
  .header .overlay .top-menu .header-nav .header-menu .burger.active span {
    display: none;
  }
  .header .overlay .top-menu .header-nav .header-menu .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .overlay .top-menu .header-nav .header-menu .burger.active::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .overlay .top-menu .header-nav .header-menu .burger span {
    background: #ffffff;
    height: 3px;
    width: 20px;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .overlay .top-menu .header-nav .header-menu .burger::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #ffffff;
    top: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .overlay .top-menu .header-nav .header-menu .burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #ffffff;
    bottom: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .overlay .top-menu .header-nav .header-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 18, 18, 0.7);
    z-index: 9998;
    text-align: center;
    padding-top: 50px;
    display: none;
  }
  .header .overlay .top-menu .header-nav .header-menu .menu a {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 15px;
    margin: 40px 0;
  }
  .header .overlay .top-menu .header-nav .header-menu .menu.show {
    display: block;
  }
}

@media screen and (max-width: 540px) {
  .about .about-wrap .left {
    display: none;
  }
  .about .about-wrap .right {
    margin-top: 0;
  }
}

@media screen and (max-width: 420px) {
  .header .overlay .header-title h3 {
    font-size: 27px;
  }
  .header .overlay .header-title p {
    font-size: 16px;
  }
  .about .about-wrap .right .content p {
    font-size: 15px;
    padding-left: 0;
  }
  .about .about-wrap .right .content p::before {
    display: none;
  }
  .about .about-wrap .right .content p::after {
    display: none;
  }
  .about .about-wrap .right .content p span {
    font-size: 12px;
  }
}

@media screen and (max-width: 380px) {
  .about .about-wrap .right .title h4 {
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */